agm-map {
    display: block;
    width: 100%;
    height: 70vh;
}

.container-fluid{
    background-color: beige;
}

.container {
    border: 4px solid white;
    border-radius: 10px;
    background-color: lavender;
}

div .form-check {
    display: inline-block;
}

input.ng-valid.ng-touched {
    border: 1px solid lightgreen;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error {
    color: tomato;
}