<div class="navbar">
    <a class="ml-4" [routerLink]="['/home']"><img src="../../assets/LogoBota100.png" alt=""></a>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Busca rutas" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>

    <div>
        <button type="button" class="btn btn-info btn-block">Sube tu ruta</button>
    </div>
    <div>
        <a href="#">Inicia sesión</a>
    </div>
    <div class="pr-2">
        <button type="button" class="btn btn-success btn-block">Regístrate</button>
    </div>
</div>
<div class="container-fluid">
    <div class="mb-5 pt-5">
        <h2>HISTORIA DEL MOVIMIENTO</h2>
    </div>
    <div class="container">
        <div class="row my-5 py-3">
            <div class="col-12">
                <div class="mb-5">
                    <p>El movimiento scout es un método de educación no formal que enseña mediante el juego y la
                        reflexión a intentar ser mejores personas y ciudadanos a jóvenes y niñxs de entre 6 y 21 años.
                    </p>
                    <p> El movimiento comienza con el militar británico Robert Baden-Powell en el siglo XIX.
                    </p>
                </div>
                <div>
                    <img class="limit" src="../../assets/flechas.png" alt="">
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 impar">
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero08.jpg" alt="">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p>
                        En la llamada guerra de los Boers (1899-1902), se enfrentaba el ejército holandés y británico en
                        Sudáfrica.
                    </p>
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 par">
            <div class="col-6">
                <div>
                    <p>
                        Baden Powell fue el encargado de uno de los ejércitos británicos y se dio cuenta de
                        que la proporción no favorecía a los ingleses, por lo que decidió entrenar a un grupo de
                        voluntarios para hacer tareas de rastreo, mensajería y estrategia, es aquí cuando se empieza a
                        usar el término scout, derivado del inglés scouting (exploración).
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero02.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 impar">
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero06.jpg" alt="">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p>A su llegada a Inglaterra después de la guerra, escribió el libro que sentó las bases del
                        movimiento, "scouting for boys" (escultismo para muchachos en español).

                        El libro fue un éxito y decidió poner en práctica todas sus enseñanzas organizando un campamento
                        para 20 muchachos organizados en pequeños grupos llamados "patrullas" (lobos, toros, chorlitos y
                        cuervos). El campamento se localizó en la pequeña isla de Brownsea, en el puerto de Poole, desde
                        1 de agosto hasta el 9 del mismo mes del año 1907.
                    </p>
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 par">
            <div class="col-6">
                <div>
                    <p> Este es el inicio histórico del movimiento scout mundial, que hoy por hoy cuenta con millones de
                        personas agrupadas por todo el mundo. El escultismo ha evolucionado con el mundo, tanto en
                        separarse de su raíz militar, como en la inclusividad, hoy en día la mayoría de los grupos son
                        mixtos. Aun así, es muy importante la simbología originaria pues es la que se usa para educar
                        mediante conceptos todavía hoy. </p>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero22.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>