<div class="container">
    <h2>LISTA DE EVENTOS</h2>
    <div class="row">
        <div class="col-lg-4 mb-1 p-1" *ngFor="let evento of eventos">
            <div class="card shadow bg-white rounded">
                <img [src]="evento.imagenes" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title font-weight-bolder">{{evento.nombre}}</h6>
                    <p class="card-text font-weight-lighter descripcion">{{evento.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>