.container-fluid {
    font-family: var(--fuenteSecundaria);
    background-color: var(--color-verde);
    padding-top: 30px;
}

.descripcion {
    height: 120px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.card {
    background-color: lavender;
}

.card h2 {
    color: var(--color-verdeoscuro);
}

.card img {
    width: 50px;
}

a {
    text-decoration: none;
}

.card-body, small {
    color: var(--color-azul);
}

.cardfooter {
    color: var(--color-azul);
}

.cardfooter p {
    margin-right: 10px;
}

.form-control {
    width: 200px;
}