<app-navbar></app-navbar>
<div class="container" [ngStyle]="{'padding-top':padding}">
    <!-- <h2 id="link-eventos">LISTA DE EVENTOS</h2> -->

    <!-- NAVBAR INICIO-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
        <a [routerLink]="['/eventos']" class="text-muted">
            <h2>LISTA DE EVENTOS</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0"> -->
            <input #buscar class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
            <!-- El decorador #buscar me sirve para pasar el campo input al ts -->
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onSubmit()">Buscar</button>
            <!-- <input [(ngModel)]="buscar" placeholder="Buscar" (keyup)="onSubmit($event)"> -->
            <!-- </form> -->
        </div>
    </nav>
    <!-- NAVBAR FIN -->

    <div class="row">
        <div class="col-lg-6 col-xl-4 col-md-6 mb-1 p-1" *ngFor="let evento of eventos">
            <a [routerLink]="['/eventos/'+evento.id]" class="text-muted">
                <div class="card shadow bg-white rounded">
                    <img [src]="evento.imagenes" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bolder">{{evento.nombre}}</h6>
                        <p class="card-text font-weight-lighter descripcion">{{evento.descripcion}}</p>
                        <p class="card-text"><small class="text-muted">Lugar:
                                <strong>{{evento.ciudad}}</strong></small></p>
                        <p class="card-text"><small class="text-muted">Fecha:
                                <strong>{{evento.fecha | date:'dd MMM, yyyy'}}m</strong></small>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>