.container-fluid {
    font-family: var(--fuenteSecundaria);
    background-color: var(--color-verde);
}

.card {
    background-color: lavender;
}

.card h2 {
    color: var(--color-verdeoscuro);
}

a {
    text-decoration: none;
}

.card-body, small {
    color: var(--color-azul);
}

.cardfooter {
    color: var(--color-azul);
}

.cardfooter p {
    margin-right: 10px;
}

.descripcion {
    height: 70px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.circular {
    justify-content: right;
    align-content: flex-end;
    height: auto;
}

.foto {
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin: 10px;
}

.inputbusq {
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    width: 150px;
}

.lupa {
    height: 30px;
    width: 30px;
    background-color: var(--color-verde);
    border: 0;
    background-image: url("../../assets/lupa.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
}