<app-navbar></app-navbar>
<div class="container-fluid" [ngStyle]="{'padding-top': padding}">
    <div class="container">
        <!-- NAVBAR INICIO-->
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="card mb-3 shadow rounded">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-lg-6 d-flex align-items-center justify-content-center">
                            <a [routerLink]="['/rutas']" class="text-muted ml-2">
                                <h2>LISTA DE RUTAS</h2>
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-5 d-flex align-items-center justify-content-center">
                            <div class="row">
                                <div class="col-10">
                                    <input #buscar class="inputbusq" type="search" placeholder="Buscar rutas"
                                        aria-label="Buscar">
                                </div>
                                <div class="col-2">
                                    <!-- El decorador #buscar me sirve para pasar el campo input al ts -->
                                    <button class="lupa" type="button" (click)="onSubmit()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NAVBAR FIN -->
            <div class="col-12 col-sm-12 col-lg-12">
                <div class="card mb-3 shadow rounded" *ngFor="let ruta of rutas">
                    <a [routerLink]="['/rutas/'+ruta.id]" class="text-muted caja-rutas">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div class="foto" style="background-image: url({{ruta.arrImagenes[0]}});">
                                    <!-- <img [src]="ruta.arrImagenes[0]" class="card-img" alt="..."> -->
                                </div>
                                <div class="d-flex bd-highlight mb-3">
                                    <small class="mr-auto p-2 bd-highlight">{{ruta.usuario}}</small>
                                    <p class="card-text p-2 bd-highlight" [ngSwitch]="ruta.puntuacion">
                                        <img src="assets/cinco.png" *ngSwitchCase="5">
                                        <img src="assets/cuatro.png" *ngSwitchCase="4">
                                        <img src="assets/tres.png" *ngSwitchCase="3">
                                        <img src="assets/dos.png" *ngSwitchCase="2">
                                        <img src="assets/uno.png" *ngSwitchCase="1">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bolder">{{ruta.nombre}}</h5>
                                    <p class="card-text font-weight-lighter descripcion">{{ruta.descripcion}}</p>
                                    <div class="cardfooter d-flex justify-content-around">
                                        <p class="card-text"><small>Distancia:
                                                <strong>{{ruta.distancia}}km</strong></small></p>
                                        <p class="card-text"><small>Duracion:
                                                <strong>{{ruta.duracion}}h</strong></small></p>
                                        <p class="card-text"><small>Altura máxima:
                                                <strong>{{ruta.altitud_max}}m</strong></small>
                                        </p>
                                        <p class="card-text circular" [ngSwitch]="ruta.circular">
                                            <img src="assets/circularNo.png" *ngSwitchCase="0">
                                            <img src="assets/circularSi.png" *ngSwitchCase="1">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>