<div class="jumbotron">
    <div class="active item one"></div>
    <div class="item two"></div>
    <div class="item three"></div>
    <div class="empty"></div>
    <!-- inicio navbar -->
    <nav class="navbar smooth-scroll" (scroll)="onWindowScroll($event)">
        <a routerLink="/home">
            <div class="logo d-flex align-items-center">
                <img src="../../assets/LogoBota100sinfondo.png" alt="">
                <div class="ml-3 titulo">
                    <h4 class="mt-1 mb-0">sc<span>R</span>outes</h4>
                    <p>scouts social</p>
                </div>
            </div>
        </a>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Rutas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="." fragment="listarutas">Rutas</a>
                <a class="dropdown-item" [routerLink]="['/rutas']">Listado de rutas</a>
                <a class="dropdown-item" routerLink="." fragment="listarutas">Mejores rutas</a>
                <a class="dropdown-item" [routerLink]="['/rutas/new']">Añade tu ruta</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Eventos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="." fragment="listaeventos">Eventos</a>
                <a class="dropdown-item" [routerLink]="['/eventos']">Listado de eventos</a>
                <a class="dropdown-item">Añade un evento nuevo</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#link-grupos" routerLink="." fragment="grupos">Grupos
                Scout</a>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Info
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="." fragment="link-info">Info</a>
                <a class="dropdown-item" [routerLink]="['/info']">Historia del Movimiento</a>
                <a class="dropdown-item" [routerLink]="['/secciones']">Secciones</a>
            </div>
        </div>
        <div class="pr-2">
            <div class="text-left">
                <div *ngIf="!registroService.logueado()">
                    <a href="" class="btn btn-outline-success p-2" data-toggle="modal"
                        data-target="#modalLoginForm">Inicio
                        sesión</a>
                </div>
                <div *ngIf="registroService.logueado()">
                    <div class="btn btn-light font-weight-bolder" data-toggle="modal" data-target="#modalUsuarioForm">
                        {{registroService.logueado()}}
                        <img src="../../assets/avatar03.png" class="pl-1 avatar">
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- fin navbar -->
    <div class="container">
        <h1 class="baden1">"Trata de dejar a este mundo en mejores condiciones de como lo encontraste.</h1>
        <p class="baden2">Baden Powell</p>
        <hr class="my-4">
        <app-registro></app-registro>
    </div>
    <div class="text-right">
        <img class="scroll" src="../../assets/scroll-down-2.gif" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 d-flex justify-content-around">
                <div class="card m-1 shadow-lg rounded">
                    <a routerLink="." fragment="listarutas" class="text-reset">
                        <img src="../../assets/imghero21.jpg" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-monospace text-light">RUTAS</h2>
                        </div>
                    </a>
                </div>
                <div class="card m-1 shadow-lg rounded">
                    <a routerLink="." fragment="listaeventos" class=" text-reset"><img src="../../assets/imghero16.jpg"
                            class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-monospace text-light">EVENTOS</h2>
                        </div>
                    </a>
                </div>
                <div class="card m-1 shadow-lg rounded">
                    <a routerLink="." fragment="grupos" class=" text-reset"><img src="../../assets/imghero08.jpg"
                            class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-monospace text-light">GRUPOS</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<app-login></app-login>