<div class="jumbotron">
    <div class="empty"></div>
    <div class="navbar" (scroll)="onWindowScroll($event)">
        <img src="../../assets/logo.png" alt="">
        <a class="active pl-3" href="javascript:void(0)">Home</a>
        <a href="javascript:void(0)">Rutas</a>
        <a href="javascript:void(0)">Eventos</a>
        <a href="javascript:void(0)">Info</a>
        <a class="pr-3" href="javascript:void(0)">Grupos Scout</a>
    </div>
    <div class="container">
        <h1 class="display-2">"Trata de dejar a este mundo en mejores condiciones de como lo encontraste.</h1>
        <p class="lead">Baden Powell</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.
        </p>
        <a class="btn btn-outline-warning btn-lg" href="#" role="button">Unete!!</a>
    </div>
    <div class="text-center">
        <img class="scroll" src="../../assets/scroll-down-2.gif" alt="">
    </div>
</div>