.jumbotron {
  background-image: url(../../assets/imghero15.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(185, 179, 179);
  background-blend-mode: multiply;
  height: 150vh;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  color: #FAD44E;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.display-2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #6bd1b6;
  margin-top: 100px;
}

.empty {
  height: 100px;
}

.navbar {
  background-color: transparent;
  color: white;
  height: 70px;
  z-index: 100;
  padding: 0rem 1rem;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  margin: 0 2px;
  padding: 0;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.active {
  color: #33A485;
}

/* .navbar .logo {
  width: 80%;
} */

.navbar .logo:hover {
  animation: shakeX;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

.navbar img {
  width: 70px;
}

.avatar {
  max-width: 36px;
}

.sticky {
  background-color: #1a1a2e;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.6s;
}

.sticky+.container {
  padding-top: 80px;
}

.sticky a:hover {
  color: #33A485;
}

.scroll {
  width: 65px;
  padding-right: 10px;
}

.card {
  opacity: 80%;
  max-width: 300px;
  font-size: 10%;
}

.card:hover {
  animation: pulse;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

/* .navbar h3:hover {
  animation: tada;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
} */

/* 
.navbar img {
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
} */

.dropdown-menu {
  background-color: #1a1a2e;
}

.dropdown-menu a:hover {
  color: #33A485;
}