<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <h2>EVENTO</h2>
        <div class="row">
            <div class="col-12 mb-1 p-1">
                <div class="card shadow rounded">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-lg-4">
                            <img src={{eventos.imagenes}} class="m-2" alt="...">
                        </div>
                        <div class="col-lg-7 col-md-7 col-8 m-2">
                            <h3 class="card-title font-weight-bolder">{{eventos.nombre}}</h3>
                            <p>Lugar: <strong>{{eventos.ciudad}}</strong></p>
                            <p>Web: <a href="{{eventos.sitio_web}}" class="text-muted">{{eventos.sitio_web}}</a></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text font-weight-normal">{{eventos.descripcion}}</p>
                        <p class="card-text"><small class="text-muted">Fecha:
                                <strong>{{eventos.fecha | date:'dd MMM, yyyy'}}</strong></small>
                        </p>
                    </div>
                    <agm-map [mapTypeId]="'roadmap'" [zoom]="10" [latitude]="eventos.latitud"
                        [longitude]="eventos.longitud" class="col-10 p-2 center">
                        <agm-marker [latitude]="eventos.latitud" [longitude]="eventos.longitud">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>