<div class="navbar p-0 container-fluid">
    <a routerLink="/home">
        <div class="logo d-flex align-items-center">
            <img src="../../assets/LogoBota100sinfondo.png" alt="">
            <div class="ml-3">
                <h4 class="font-weight-bolder">scRoutes</h4>
                <small class="font-weight-lighter">scouts social</small>
            </div>
        </div>
    </a>
    <form class="form-inline my-2 my-lg-0">
        <input #buscar class="form-control mr-sm-2 z-index-10" type="search" placeholder="Busca rutas"
            aria-label="Search" (keyup)="onSubmit()">
        <nav id="menu_busqueda">
            <ul class="menubusq">
                <li class="d-flex" *ngFor="let ruta of rutas;index as i"><a [routerLink]="['/rutas/'+ruta.id]"
                        class="">{{i+1}}.
                        {{ruta.nombre}}</a></li>
            </ul>
        </nav>

        <button class="btn btn-lg btn-outline-success my-2 my-sm-0" type="button" (click)="onSubmit()">Buscar</button>
    </form>

    <!-- <div>
        <button type="button" class="btn btn-info btn-block" [routerLink]="['/rutas/new']">Sube tu
            ruta</button>
    </div> -->


    <!-- PRUEBA -->
    <nav id="menu_gral">
        <ul>
            <li><a routerLink="/home" fragment="listarutas">RUTAS</a>
                <ul>
                    <li><a [routerLink]="['/rutas']">Listado de rutas</a></li>
                    <li><a [routerLink]="['/home']" fragment="listarutas">Mejores rutas</a></li>
                    <li><a [routerLink]="['/rutas/new']">Añade tu ruta</a></li>
                </ul>
            </li>
            <li><a routerLink="/home" fragment="listaeventos">EVENTOS</a>
                <ul>
                    <li><a [routerLink]="['/eventos']">Listado de eventos</a></li>
                    <li><a href="#">Añade un evento nuevo</a></li>
                </ul>
            </li>
            <li><a routerLink="/home" fragment="grupos">GRUPOS</a></li>
            <li><a routerLink="." fragment="link-info">INFO</a>
                <ul>
                    <li><a [routerLink]="['/info']">Historia del Movimiento</a></li>
                    <li><a [routerLink]=" ['/secciones']">Secciones</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- PRUEBA -->




    <!-- LOGIN -->
    <div class="pr-2">
        <div class="text-left">
            <div *ngIf="!registroService.logueado()">
                <a href="" class="btn btn-outline-success p-2" data-toggle="modal" data-target="#modalLoginForm">Inicio
                    sesión</a>
            </div>
            <div *ngIf="registroService.logueado()">
                <div class="btn btn-light font-weight-bolder">
                    {{registroService.logueado()}}
                    <img src="../../assets/avatar03.png" class="pl-1 avatar">
                </div>
            </div>
        </div>
    </div>
</div>



<app-login></app-login>