<div class="navbar p-0 container-fluid">
    <a routerLink="/home">
        <div class="logo d-flex align-items-center">
            <img src="../../assets/LogoBota100sinfondo.png" alt="">
            <div class="ml-3 titulo">
                <h4 class="mt-1 mb-0">sc<span>R</span>outes</h4>
                <p>scouts social</p>
            </div>
        </div>
    </a>
    <form class="form-inline my-2 my-lg-0">
        <input #buscar class="inputbusq" type="search" placeholder="Busca rutas" aria-label="Buscar"
            (keyup)="onSubmit()">
        <nav id="menu_busqueda">
            <ul class="menubusq">
                <li class="d-flex" *ngFor="let ruta of rutas;index as i"><a [routerLink]="['/rutas/'+ruta.id]"
                        class="">{{i+1}}.
                        {{ruta.nombre}}</a></li>
            </ul>
        </nav>

        <button class="lupa" type="button" (click)="onSubmit()"></button>
    </form>

    <!-- <div>
        <button type="button" class="btn btn-info btn-block" [routerLink]="['/rutas/new']">Sube tu
            ruta</button>
    </div> -->


    <!-- INICIO MENU -->
    <nav id="menu_gral">
        <ul class="menuhero">
            <li><a routerLink="/home" fragment="listarutas">Rutas</a>
                <ul>
                    <li><a [routerLink]="['/rutas']">Listado de rutas</a></li>
                    <li><a [routerLink]="['/home']" fragment="listarutas">Mejores rutas</a></li>
                    <li><a [routerLink]="['/rutas/new']">Añade tu ruta</a></li>
                </ul>
            </li>
            <li><a routerLink="/home" fragment="listaeventos">Eventos</a>
                <ul>
                    <li><a [routerLink]="['/eventos']">Listado de eventos</a></li>
                </ul>
            </li>
            <li><a routerLink="/home" fragment="grupos">Grupos</a></li>
            <li><a routerLink="." fragment="link-info">Info</a>
                <ul>
                    <li><a [routerLink]="['/info']">Historia del Movimiento</a></li>
                    <li><a [routerLink]=" ['/secciones']">Secciones</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- FIN MENU -->



    <!-- LOGIN -->
    <div class="d-flex">
        <button class="salir" id="logout" (click)="cerrarSesion()" *ngIf="registroService.logueado()"></button>
        <div class="loginboton pr-2">
            <div class="text-left">
                <div *ngIf="!registroService.logueado()">
                    <a href="" class="btn btn-outline-success p-2 loginboton" data-toggle="modal"
                        data-target="#modalLoginForm">Inicio
                        sesión</a>
                </div>
                <div *ngIf="registroService.logueado()">
                    <div class="btn btn-light loginboton" data-toggle="modal" data-target="#modalUsuarioForm">
                        {{registroService.logueado()}}
                        <img src="../../assets/avatar03.png" class="pl-1 avatar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-login></app-login>