body {
    background-color: white;
    position: relative;
    z-index: -1;
}

.sidebar {
    display: flex;
    background-color: salmon;
}

.container {
    display: flex;
    justify-content: space-between
}

.listarutas {
    display: flex;
    background-color: white
}