<div class="container-fluid">
    <div class="mb-5 pt-5">
        <div>
            <h2>SECCIONES SCOUT</h2>
        </div>
    </div>
    <div class="container">
        <div class="row my-5 py-3">
            <div class="col-12">
                <div class="mb-5">
                    <p>Un grupo scout se organiza en 5 secciones según la edad de los integrantes. Cada sección está
                        ambientada en una determinada simbología que ayuda a que la forma de aprender sea más fácil y
                        dinámica.
                    </p>
                    <p> La simbología es un recurso muy importante en los grupos scout porque hace que el
                        sentimiento de pertenencia sea más fuerte y ayuda a crear una comunidad con unos valores
                        concretos.
                    </p>
                    <p> Prueba de ello es que cada sección tiene también un lema y una ley que se centran en
                        un aspecto concreto que se busca potenciar según la edad de lxs niñxs.
                    </p>
                </div>
                <div>
                    <img class="limit" src="../../assets/flechas.png" alt="">
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 impar">
            <div class="col-12">
                <div>
                    <h3>CASTORES</h3>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero09.jpg" alt="">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p><strong>Edad: 6 a 8 años</strong></p>
                    <p>Basada en el libro "La vida en el estanque" donde un grupo de castores trabajan junto a otros
                        animales del bosque para tener una vida feliz. </p>
                    <p><strong>Lema: COMPARTIR </strong></p>
                    <p>><strong>Ley: EL CASTOR COMPARTE CON ALEGRÍA Y JUEGA CON TODOS</strong></p>
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 par">
            <div class="col-12">
                <div>
                    <h3>MANADA O LOBATOS</h3>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p><strong>Edad: </strong>8 a 11 años</p>
                    <p>Ambientada en el famoso "Libro de la tierras vírgenes" de Rudyard Kipling. Donde un niño llamado
                        Mowgli se cría en la selva india del Seonee con los lobos y aprende los secretos y la vida en la
                        selva con el resto de animales que la habitan. Mowgli toma lecciones del sabio oso Baloo, del
                        jefe de la manada Akela y de la pantera cazadora Bagheera. Estos serán los nombres de los
                        monitores o viejos lobos. </p>
                    <p><strong>Lema: </strong>HAREMOS LO MEJOR </p>
                    <p><strong>Ley: </strong>EL LOBATO ESCUCHA Y OBEDECE AL VIEJO LOBO.</p>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero19.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 impar">
            <div class="col-12">
                <div>
                    <h3>TROPA O RANGERS</h3>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero05.jpg" alt="">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p><strong>Edad: </strong>11 a 14 años</p>
                    <p>La rama principal que se asienta en el libro de Escultismo para muchachos escrita por Robert
                        Baden-Powell. Enseña a los jóvenes civismo, técnicas de campismo, respeto y confianza. </p>
                    <p><strong>Lema: </strong>SIEMPRE LISTOS</p>
                    <p><strong>Ley: </strong>la ley scout consta de 10 artículos que tocan distintos ámbitos de la
                        educación. Por ejemplo: el scout cuida y respeta la naturaleza, el scout es leal, el scout es
                        animoso ante peligros y dificultades…

                        A partir de esta sección todas las sucesivas se centran en profundizar y madurar conforme la ley
                        scout antes mencionada. </p>
                </div>
            </div>

        </div>
        <div class="row py-3 vh-100 par">
            <div class="col-12">
                <div>
                    <h3>ESCULTAS O PIONEROS</h3>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p><strong>Edad: </strong>14 a 17 años</p>
                    <p>Esta sección tiene ambientaciones distintas según el grupo. La palabra esculta proviene del
                        castellano antiguo y significa explorador avanzado. Es la adaptación del escultismo a la
                        adolescencia. El grupo adquiere un papel fundamental en el individuo y la sección. Ellos son los
                        protagonistas de sus propias acciones y adquieren mucha mayor autonomía en la ejecución de las
                        mismas. Se agrupan en equipos y desarrollan actividades llamadas “Empresas”. </p>
                    <p><strong>Lema: </strong>UNIDAD</p>
                    <p><strong>Ley: </strong>La ley scout</p>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <img src="../../assets/imghero03.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row py-3 vh-100 impar">
            <div class="col-12">
                <div>
                    <h3>ROVERS O RUTAS</h3>
                </div>
            </div>

            <div class="col-6">
                <div>
                    <img src="../../assets/imghero16.jpg" alt="">
                </div>
            </div>
            <div class="col-6">
                <div>
                    <p><strong>Edad: </strong>17 a 21 años</p>
                    <p>Para los más mayores, Baden Powell escribió un libro llamado "Roverismo hacia el éxito" que
                        trata de enseñar el camino hacia la adultez a través de la simbología de caballeros
                        medievales. Es la última etapa y en ella se pone mucho énfasis en la ayuda a la comunidad y
                        a la sociedad en general. </p>
                    <p><strong>Lema: </strong>SERVIR</p>
                    <p><strong>Ley: </strong>La ley scout</p>
                </div>
            </div>
        </div>
    </div>
</div>