.container-fluid {
    text-align: center;
    background-color: var(--color-verde);
    padding-top: 80px;
    padding-bottom: 130px;
    color: white;
}

.navbar {
    background-color: #1a1a2e;
    position: fixed;
    /* top: 0; */
    width: 100%;
    z-index: 100;
}

.navbar img {
    width: 80%;
}

.navbar a {
    width: 20%;
}

.navbar a:hover {
    color: #33A485;
}

.row {
    align-items: center;
}

.row div div .limit {
    width: 15%;
}

.row div div img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

/* .par {
    background-color: lavenderblush;
} */

.impar{
    background-color: lavender;
    color: black;
    border-radius: 10px;
}

p {
    letter-spacing: 3px;
    line-height: 150%;
}
