<div class="container-fluid frame">
    <div class="container">
        <div class="row pt-4">
            <div class="col-8">
                <agm-map (mapClick)="clickedMap($event)" [mapTypeId]="mapTypeId" [fitBounds]="true">

                    <agm-marker (markerClick)="clickedMarker(infoWindow)" *ngFor="let grupo of grupos "
                        [latitude]="grupo.latitud" [longitude]="grupo.longitud" [agmFitBounds] [iconUrl]="{}">
                        <agm-info-window #infoWindow>
                            <h4>{{grupo.nombre}}</h4>
                            <p>{{grupo.fecha_creacion}}</p>
                            <p>{{grupo.direccion}}</p>
                            <a [href]="grupo.web" target="_blank">{{grupo.web}}</a>
                        </agm-info-window>
                    </agm-marker>

                </agm-map>
                <button (click)="getCurrentPosition()">Obtener dirección actual</button>
            </div>
            <div class="col-4 addScroll">
                <ul id="modalActivate" data-toggle="modal" data-target="#exampleModalPreview"
                    *ngFor="let grupo of grupos">
                    <li>
                        <h4>{{grupo.nombre}}</h4>
                        <p class="my-0">{{grupo.direccion}}</p>
                        <p class="my-0">{{grupo.ciudad}}</p>
                        <a class="my-0" [href]="grupo.web" target="_blank">{{grupo.web}}</a>
                    </li>
                </ul>
            </div>
            <!-- Modal -->
            <div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-side modal-bottom-right" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalPreviewLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->

        </div>
    </div>

</div>