agm-map {
    width: 100%;
    height: 60vh;
}

.container-fluid .frame {
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.container-fluid .container .row {
    align-items: center;
    height: 100vh;
}

.container-fluid .container .row .addScroll {
    overflow-y: auto;
    height: 60vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-fluid .container .row  .addScroll::-webkit-scrollbar {
    display: none;
}

.container-fluid .container .row  .addScroll ul {
    list-style-type: none;
}

.container-fluid .container .row  .addScroll li {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}





