agm-map {
    width: 100%;
    height: 70vh;
}

.container-fluid {
    background-color: var(--color-verde);
    font-family: var(--fuenteSecundaria);
}

.container {
    padding-top: 80px;
}

.info {
    background-color: lavender;
    border-radius: 10px;
}

.info-usuario {
    background-color: lavender;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos .row {
    text-align: center;
}

.fotos div div {
    width: 100%;
    height: 100%;
}

.fotos div div img {
    width: 100%;
    object-fit: cover;
}

h3, h4, label {
    font-weight: bold;
    color: var(--color-amarillo);
}

/* Estilos comentarios */

.comentarios {
    background-color: lavender;
    border-radius: 10px;
}

.comentarios ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: 0rem;
}

.comentarios ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted grey;
}

/* Estilos formulario */

input.ng-valid.ng-touched {
    border: 1px solid lightgreen;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error {
    color: tomato;
}

textarea {
    background-color: lavender;
}