<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <div class="row pt-5">
            <div class=" col-12 col-sm-12 col-lg-9">
                <div>
                    <h3 class="mb-4">{{ruta?.nombre}} - {{ruta.localizacion}}</h3>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-9">
                        <div>
                            <agm-map *ngIf="ruta" [mapTypeId]="mapTypeId" [fitBounds]="true">
                                <agm-marker [latitude]="this.firstMarker.split(',')[1]"
                                    [longitude]="this.firstMarker.split(',')[0]" [agmFitBounds]
                                    [iconUrl]="{url: '../assets/inicio-ruta32.png'}">
                                </agm-marker>
                                <agm-marker [latitude]="this.lastMarker.split(',')[1]"
                                    [longitude]="this.lastMarker.split(',')[0]" [agmFitBounds]
                                    [iconUrl]="{url: '../assets/fin-ruta7.png'}">
                                </agm-marker>
                                <agm-kml-layer [url]="'https://f043582eb16d.ngrok.io/api/rutas/kml/' + ruta?.id"
                                    [clickable]="true">
                                </agm-kml-layer>
                            </agm-map>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-3">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-lg-12 mt-3 mb-3 info-usuario">
                                <div>
                                    <h5>{{ruta?.usuario}}</h5>
                                </div>
                            </div>
                            <div
                                class="col-6 col-sm-6 col-lg-12 d-flex justify-content-center align-items-center align-content-center mb-3">
                                <div>
                                    <button type="button" class="btn btn-warning btn-block">Valora esta
                                        ruta</button>
                                </div>
                            </div>
                            <div class="col-12 info datos">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <div class="d-flex bd-highlight mb-3">
                                            <p class="card-text my-0 mx-auto p-2 bd-highlight"
                                                [ngSwitch]="ruta?.puntuacion">
                                                <img src="assets/cinco.png" *ngSwitchCase="5">
                                                <img src="assets/cuatro.png" *ngSwitchCase="4">
                                                <img src="assets/tres.png" *ngSwitchCase="3">
                                                <img src="assets/dos.png" *ngSwitchCase="2">
                                                <img src="assets/uno.png" *ngSwitchCase="1">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-6">
                                        <div>
                                            <p><strong>Distancia: </strong>{{ruta?.distancia}} Km</p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-6">
                                        <div>
                                            <p><strong>Duración: </strong>{{ruta?.duracion}}</p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-6">
                                        <div>
                                            <p><strong>Altitud min.: </strong>{{ruta?.altitud_min}} m</p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-6">
                                        <div>
                                            <p><strong>Altitud máx.: </strong>{{ruta?.altitud_max}} m</p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-6">
                                        <div>
                                            <p><strong>Dificultad: </strong>{{ruta?.dificultad}}</p>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-6 col-lg-6">
                                        <div>
                                            <div class="card-text circular" [ngSwitch]="ruta?.circular">
                                                <img src="assets/circularNo.png" *ngSwitchCase="0">
                                                <img src="assets/circularSi.png" *ngSwitchCase="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 col-sm-12 col-lg-9">
                <div class="mb-4">
                    <h4>DESCRIPCIÓN DE LA RUTA:</h4>
                </div>
                <div class="info p-3">
                    <p>{{ruta?.descripcion}}</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 fotos">
                <div class="row">
                    <div class="col-12 mb-2 mt-5" *ngFor="let imagen of ruta?.imagenes.split(',')">
                        <img [src]="sanitizeImageUrl(imagen)" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-8 mt-5">
                <h4>Comentarios: {{comentarios?.length}}</h4>
                <div class="comentarios p-2">
                    <ul class="list-unstyled" *ngFor="let comentario of comentarios">
                        <li class="media">
                            <img src="../assets/usuario.png" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{comentario?.usuario}}</h5>
                                <p>{{comentario?.comentario}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                        <div class="form-group mt-3">
                            <label>Deja tu comentario:</label>
                            <textarea class="form-control" name="Comentario" cols="120" rows="5"
                                formControlName="comentario"></textarea>
                            <p class="error"
                                *ngIf="formulario.controls.comentario.errors?.required && formulario.controls.comentario.touched">
                                Ups! Parece que el campo comentario está vacío
                            </p>
                        </div>
                        <div>
                            <input type="submit" value="Enviar" [disabled]="!formulario.valid"
                                class="btn btn-block btn-warning">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{ formulario.value | json }} -->
<app-footer></app-footer>