@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Gloria+Hallelujah&family=Long+Cang&family=Pacifico&family=Satisfy&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
/* Estas fuentas para menus */

/* font-family: 'Caveat', cursive; */

/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;700&family=Montserrat:wght@200;400;700;800&family=Ranchers&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;700&display=swap');
/* Estas fuentes para textos normales */

/* font-family: 'Grandstander', cursive; */

/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cedarville+Cursive&family=Charmonman:wght@400;700&family=Montez&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap');
/* Estas fuentes es para laR titulo scRoutes */

/* font-family: 'Charmonman', cursive; */

html {
    scroll-behavior: smooth;
}

:root {
    --color-azul: #021c1e;
    --color-verdeoscuro: #004445;
    --color-verde: #2c7873;
    --color-verdeclaro: #6fb98f;
    --color-amarillo: #FAD44E;
    --fuentePrincipal: 'Caveat', cursive;
    --fuenteSecundaria: 'Grandstander', cursive;
    --fuenteTerciaria: 'Oxygen', sans-serif;
}