<app-hero></app-hero>
<div class="container">
    <div class="row pt-4 pb-4">
        <div id="listarutas" class="col-12 col-lg-8 addScroll">
            <app-lista-rutas></app-lista-rutas>
        </div>
        <div class="col-12 col-lg-4 addScroll">
            <app-sidebar-rutas></app-sidebar-rutas>
        </div>
    </div>
</div>
<div class="container-fluid espacio">
    <h1 class="baden1">"El hombre no es más que un proyecto y la vida una especie de barco que cada uno tiene que llevar
        a buen
        puerto." </h1>
    <p class="baden2">Baden Powell</p>
</div>
<div class="container">
    <div class="row pt-4 pb-4">
        <div id="listaeventos" class="col-12 col-lg-8 addScroll">
            <app-lista-eventos></app-lista-eventos>
        </div>
        <div class="col-12 col-lg-4 addScroll">
            <app-sidebar-eventos></app-sidebar-eventos>
        </div>
    </div>
</div>
<div class="container-fluid espacio">
    <h1 class="baden1">"Un hombre que nunca cometió errores, nunca hizo nada." </h1>
    <p class="baden2">Baden Powell</p>
</div>
<div class="container">
    <div class="row">
        <div id="grupos" class="col-12">
            <app-mapa-grupos></app-mapa-grupos>
        </div>
        <div class="container-fluid espacio">
            <h1 class="baden1">"Ningún Scout, voluntariamente, mata un animal sólo por el gusto de matarlo; si lo hace
                es para proporcionarse alimento o porque aquél sea dañino." </h1>
            <p class="baden2">Escultismo para Muchachos</p>
        </div>
        <div class="col-12">
            <div id="link-info" class="card bg-dark text-white" [routerLink]="['/info']">
                <img class="card-img" src="../../assets/historiascout-blanconegro.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h3 class="card-title">Historia Scout</h3>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div id="link-secciones" class="card bg-dark text-white" [routerLink]="['/secciones']">
                <img class="card-img" src="../../assets/imghero21.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h3 class="card-title">Secciones Scout</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>